/*import roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');



body{
  /* Add a nice background gradient */
  background: linear-gradient(90deg, rgb(134, 128, 248) 0%, rgb(145, 145, 235) 35%, rgb(74, 219, 248) 100%);
  /* Make the background cover the whole page */
  background-size: cover;
  
  margin: 0px;
  padding: 0px;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

/* login button */
.loginButton{
  position:absolute;
  right: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  background-color: rgba(252, 51, 208, 0.514);
  border: none;
  border-radius: 1.3rem;
  padding: 0.5rem;
  
  margin-right: 1rem;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  cursor: pointer;

  float: right;
}
